.main-container {
  height: min-content;
  width: min-content;
  box-shadow: var(--long-shadow);
  border-radius: 30px;
  overflow: hidden;
}

.board {
  background: linear-gradient(to right bottom, #180800,  #361300);
  position: relative;
  box-shadow: inset 0 0 116px 0px rgba(0, 0, 0, .3);
	border: 15px solid #140700;
  border-radius: 30px;
	box-sizing: content-box;
}

.snake-body-part {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.snake-body-part:nth-child(1) {
  z-index: 3;
}

.snake-body {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background: linear-gradient(to right bottom, #aaffcc 18%, #00bb00 31%,  #005500 73%);
}

.head .snake-body {
  background: linear-gradient(to right bottom, #aaffcc 0%, #008800 27%,  #004400 64%);
}

.apple {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple > img {
  max-width: 130%;
  max-height: 130%;
}