<div class="main-container">
  <div class="board" [ngStyle]="{
    'width': game.board.width * size + 'px',
    'height': game.board.height * size + 'px'
  }">
    <div class="snake-body-part" *ngFor="let part of game.snake.body"
    [ngClass]="{'head': part.type === 'head'}"
    [ngStyle]="{
      'top': part.position.y * size + 'px',
      'left': part.position.x * size + 'px',
      'width' : size + 'px',
      'height' : size+ 'px',
      'transition': 'all linear ' + speed / 1000 + 's'
    }">
      <div class="snake-body"></div>
    </div>
    <div class="apple image-holder" [ngStyle]="{
      'top': game.board.apple.y * size + 'px',
      'left': game.board.apple.x * size + 'px',
      'width' : size + 'px',
      'height' : size+ 'px'
    }">
      <img src="../../../assets/images/heart.png" alt="">
    </div>
  </div>
</div>