<app-test
  *ngIf="question === 0"
  question="Mennyivel lettél idősebb nálam?"
  [answers]="[
    '48 nappal',
    '38 nappal',
    '1 évvel',
    'Eddig is ugyanennyivel voltál idősebb nálam'
  ]"
  [correct]="[3]"
  (result)="result1($event)"
>
</app-test>

<app-test
  *ngIf="question === 1"
  question="Hol olvasta a cikket Polivka Péter?"
  [answers]="[
    'Újságban',
    'Ja nem is, talán inkább az interneten',
    'Lehet, hogy sport volt',
    'Nem tudom már, de érdekes volt'
  ]"
  [correct]="[1, 2, 3]"
  (result)="result($event)"
>
</app-test>

<div class="fireworks" *ngIf="won">
  <app-fireworks></app-fireworks>
</div>
