.main-container {
  height: min-content;
  width: min-content;
  box-shadow: var(--long-shadow);
  border-radius: 30px;
  padding: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  user-select:none;
}

.table {
  position: relative;
  margin: 0;
}

.cell {
  position: absolute;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: all ease-in-out .1s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a1b52;
  font-weight: 100;
  font-size: 16px;
}

.border-bottom {
  border-bottom: 2px solid #0006!important;
}

.border-right {
  border-right: 2px solid #0006!important;}

.found-full {
  background-color: #0a1b52;
  border-color: black;
}

.bottom {
  display: flex;
}

.rows {
  position: relative;
}

.cols {
  display: flex;
  justify-content: flex-end;
}

.cells {
  position: relative;
  box-sizing: content-box;
  border: 1 solid #eee;
}

.row {
  display: flex;
  align-items: center;
  align-items: flex-end;
}

.row-inner {
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #dae0f5;
  border-radius: 10px 0 0 10px;
  width: 100%;
  padding: 0 8px;
}

.row .block {
  margin: 0 3px;
}

.block {
  font-size: 14px;
}

.col {
  display: flex;
  justify-content: center;
}

.col-inner {
  background-color: #dae0f5;
  border-radius: 10px 10px 0 0;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.col .block { 
  line-height: 1em;
  margin: 3px 0;
}
.row.done, .col.done {
  opacity: .7;
}
.done {
  color: #8393be;
}

.row, .col, .block {
  transition: var(--fade);
}

.controls {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.controls * {
  --size: 60px;
}

.switch {
  display: flex;
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background-color: #f1f1f1;
}


.control {
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #aaa;
  font-size: 25px;
  cursor: pointer;
}

.control.active {
  background-color: white;
  box-shadow: var(--shadow);
  color: #0a1b52;
}

.square{
  width: 20px;
  height: 20px;
  background-color: #aaa;
}

.active .square {
  background-color: #0a1b52;
}

.lifes {
  padding-bottom: 30px;
}

.hearts {
  color: var(--red);
  display: flex;
  justify-content: center;
}

.heart {
  height: 50px;
  margin: 7px;
}

.heart svg {
  height: 50px;
}

.wrongly-selected.found-empty {
  animation: wrong-select-empty 1.2s ease-in-out;
}

.wrongly-selected.found-full {
  animation: wrong-select-full 1.2s ease-in-out;
}

.row-done, .column-done  {
  animation: row-done 1.6s ease-in-out;
}

@keyframes wrong-select-empty {
  from { background-color: var(--red); }
  to { background-color: #efefef; }
}

@keyframes wrong-select-full {
  from { background-color: var(--red); }
  to { background-color: #0a1b52; }
}

@keyframes row-done {
  0% { background-color: #0a1b52; }
  10% { background-color: #d2d8ee; border-color: #d2d8ee; }
  100% { background-color: #0a1b52; }
}