<div class="main-container" (mouseup)="mouseDown = false">
  <div class="table">
    <div class="lifes">
      <div class="hearts">
        <div class="heart" *ngIf="table.lifes >= 1">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
        </div>
        <div class="heart" *ngIf="table.lifes >= 2">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
        </div>
        <div class="heart" *ngIf="table.lifes >= 3">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
        </div>
        <div class="heart" *ngIf="table.lifes <= 0">
          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
        </div>
        <div class="heart" *ngIf="table.lifes <= 1">
          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
        </div>
        <div class="heart" *ngIf="table.lifes <= 2">
          <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
        </div>
      </div>
    </div>
    <div class="inner-container">
      <div class="top">
        <div class="cols">
          <div class="col" *ngFor="let col of table.columns" [ngStyle]="{'width': size + 'px'}" [ngClass]="{'done': col.done}">
            <div class="col-inner">
              <div class="block" *ngFor="let block of col.blocks" [ngClass]="{'done': block.done}">
                  <span>{{ block.cells.length }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="rows">
          <div class="row" *ngFor="let row of table.rows" [ngStyle]="{'height': size + 'px'}" [ngClass]="{'done': row.done}">
            <div class="row-inner">
              <div class="block" *ngFor="let block of row.blocks" [ngClass]="{'done': block.done}">
                <span>{{ block.cells.length }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cells" [ngStyle]="{
          'width': size * 15 + 'px',
          'height': size * 15 + 'px'
        }">
          <div class="cell" *ngFor="let cell of cells" [ngClass]="{
            'found-full': cell.found && cell.value,
            'found-empty': cell.found && !cell.value,
            'border-bottom': cell.j % 5 === 4 && cell.j !== 14,
            'wrongly-selected': cell.value !== value && selectedCell === cell,
            'row-done': cell.row.done && cell.value && selectedCell != null && selectedCell.value && cell.row === selectedCell.row,            
            'column-done': cell.column.done && cell.value && selectedCell != null && selectedCell.value && cell.column === selectedCell.column,
            'border-right': cell.i % 5 === 4 && cell.i !== 14
          }" [ngStyle]="{
            'width': size + 'px',
            'height': size + 'px',
            'top' : cell.j * size + 'px',
            'left' : cell.i * size + 'px'
          }"
          (mouseover)="select(cell)" 
          (mousedown)="onMouseDown(cell)"
          >
          <i class="fa fa-close" *ngIf="cell.found && !cell.value"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <div class="switch" (click)="switch()">
        <div class="control" [ngClass]="{'active': !value}"><span><i class="fa fa-close"></i></span></div>
        <div class="control" [ngClass]="{'active': value}"><span class="square"></span></div>
      </div>
    </div>
  </div>
</div>