<div class="container">
  <div class="coupon">
    <h2>Miteszer</h2>
    <p class="text">Választhatsz: 2019. december 31-ig, vagy 5 választott alkalommal, kinyomkodhatod a miteszereimet, akár akarom, akár nem</p>
    <p class="details">Előre döntsd el melyik lehetőséget választod, és mondd el nekem</p> 
  </div>
</div>