.container {
  background-color: white;
  padding: 3rem;
  border-radius: 30px;
  box-shadow: var(--long-shadow);
}

.secret-code {
  border: 1px dashed black;
  padding: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  border-radius: 1rem;
}


.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
	display: flex;
	height: 100vh;
  width: 100vw;
  background-color: #fff5;
  animation: appear 1.5s ease-in;
}

.fireworks h1 {
  position: absolute;
  margin: 0;
}

@keyframes appear {
  from {opacity: 0}
  to {opacity: 1;}
}