<div class="container">
    <!--Nagyon közel jársz... Kicsit lejjebb...-->
  <div class="secret-code">
    <span>Secret code</span>
    <!--Megtaláltad a titkos kódot!!!-->
    <span style="display: none">Secret code: $QLZ995$</span>
  </div>
  <!--Nagyon közel jársz... Kicsit feljebb...-->
  <app-question
  question="Mi a titkos kód?"
  placeholder="Pl.: $ABC123$"
  [answers]="['$qlz995$']"
  (result)="stringresult($event)">
</app-question>
</div>
<div class="fireworks" *ngIf="won">
  <app-fireworks></app-fireworks>
</div>