<div class="container">
  <app-snake-challenge
    [minScore]="15"
    [speed]="100"
    [size]=15
    (result)="result($event)"
  ></app-snake-challenge>
</div>

<div class="fireworks" *ngIf="won">
  <app-fireworks></app-fireworks>
</div>


<div class="lost && !won" *ngIf="lost">
  <h1>Game Over</h1>
</div>