<div class="container">
  <div class="coupon">
    <h2>Főzés</h2>
    <p class="text">Főzök neked bármit amit kérsz, bármikor amikor kéred</p>
    <p class="details">Kérd legalább 2 nappal korábban, vagy legyél biztos benne, hogy lesz időm főzni</p> 
  </div>
</div>