<div class="main-container">
  <section class="bg"></section>
  <section class="wave image-holder cover">
    <img src="/assets/images/wave.svg" alt="">
  </section>
  <section class="main">
    <h1>Daily challenge already completed</h1>
  </section>
</div>