.main-container {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}


.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
	display: flex;
	height: 100vh;
  width: 100vw;
  background-color: #fff5;
  animation: appear 1.5s ease-in;
}

.fireworks h1 {
  position: absolute;
  margin: 0;
}

.lost {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 4s ease-in;
  border-radius: 30px;
  overflow: hidden;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
}

@keyframes appear {
  from {opacity: 0}
  to {opacity: 1;}
}