<div class="main-container">
  <div class="container" style="margin: 0 2rem">
    <app-nonogram-game [level]="level" (result)="nonogramresult($event)"></app-nonogram-game>
    <div class="lost" *ngIf="lost">
      <h1>Game Over</h1>
    </div>
  </div>
  <div style="margin: 0 2rem">
    <app-question
      question="Mi a megfejtés?"
      placeholder="Lepke..."
      [answers]="['21', 'twenty-one', 'twentyone', 'huszonegy']"
      (result)="stringresult($event)"
    ></app-question>
  </div>

  <div class="fireworks" *ngIf="won">
    <app-fireworks></app-fireworks>
  </div>
</div>