.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  box-shadow: var(--long-shadow);
  min-width: 20rem;
  max-width: 90vw;
}

.inner-container {
  overflow: hidden;
  border-radius: 3rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  padding: 0.5rem 2rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
}

.answers {
  padding: 0.5rem 2rem;
}

.answer {
  margin: 1rem .5rem;
  box-shadow: var(--shadow);
  padding: 0 1.4rem;
  height: 3.2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--fade);
  color: #000a;
}

.answer:hover {
  background-color: #7771;
}

.answer:hover .radio-circle {
  border-color: #0005;
}

.answer.active {
  color: black;
  background-color: var(--dark-pink);
  color: var(--white);
}

.answer.active.correct {
  background-color: var(--green);
  color: #000a;
  box-shadow: 0 0 20px -3px var(--green);
}

.answer.active.incorrect {
  background-color: var(--red);
}

.radio-circle {
  margin-right: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  border: 1px solid #0003;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--fade);
  background-color: white;
}

.radio-circle::after {
  position: absolute;
  content: '';
  height: 66%;
  width: 66%;
  border-radius: 50%;
  /*background: linear-gradient(to right bottom, var(--dark-blue), var(--dark-pink) 80%);*/
  background-color: var(--dark-pink);
  opacity: 0;
  transition: var(--fade);
}

.active .radio-circle::after {
  opacity: 1;
}

button {
  margin: 1rem 0;
}


.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}