<div class="main-container">
  <div class="inner-container">
      <div class="question">
        <span>{{ question }}</span>
      </div>
      <div class="answers">
        <div class="answer" 
        *ngFor="let answer of answers; let i = index" 
        (click)="select(i)"
        [ngClass]="{
          'active': selected == i,
          'correct': sent && correct.includes(i),
          'incorrect': sent && !correct.includes(i)
        }">
          <!-- <span class="radio-circle"></span> -->
          <span>{{ answer }}</span>
        </div>
      </div>
      <button class="my-button" (click)="send()" [ngClass]="{'disabled': selected === -1 || sent}">Küldés</button>
  </div>
</div>