.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
	display: flex;
	height: 100vh;
  width: 100vw;
  background-color: #fff5;
  animation: appear 1.5s ease-in;
}

.fireworks h1 {
  position: absolute;
  margin: 0;
}

.lost {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #000a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 4s ease-in;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
}

@keyframes appear {
  from {opacity: 0}
  to {opacity: 1;}
}