.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  padding: 2rem;
  border-radius: 30px;
  position: absolute;
  box-shadow: var(--long-shadow);
  width: 50vw;
}
.container:nth-child(1) {
  transform: rotate(20deg);
}

.coupon {
  background-color: rgb(237, 223, 188);
  border-radius: 30px;
  box-shadow: var(--long-shadow);
  padding: 2rem;
  text-align: center;
}
h2 {
  font-size: 4rem;
  text-shadow: 2px 2px 6px #0004;
  font-family: 'Pacifico', cursive;
  line-height: 3rem;
}

.text {
  font-size: 1.5rem;
}