<div class="main-container"><div class="container">
  <div class="coupon">
    <h2>Színház</h2>
    <p class="text">Színházjegy a Pál Utcai Fiúkra dec. 6-án</p>
    <p class="details">Csak lépcsőjegyet tudok szerezni, ha nem szeretnéd, mehetünk sokkal később is, és szerzek rendes jegyeket</p> 
  </div>
</div>
<div class="container">
  <div class="coupon">
    <h2>Színház</h2>
    <p class="text">Színházjegy a Pál Utcai Fiúkra dec. 6-án</p>
    <p class="details">Csak lépcsőjegyet tudok szerezni, ha nem szeretnéd, mehetünk sokkal később is, és szerzek rendes jegyeket</p> 
  </div>
</div></div>