<div class="main-container">
  <section class="bg"></section>
  <section class="main">
    <div class="collection">
      <figure *ngFor="let gift of gifts" [routerLink]="['/gift', gift.url]" >
        <div class="image-holder">
          <img [src]="'../../../assets/images/' + gift.type + '.png'" alt="">
        </div>
        <span>{{ gift.name }}</span>
      </figure>
    </div>
  </section>
</div>