section.bg {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, var(--dark-blue), var(--dark-pink) 60%, var(--yellow));
  height: 100vh;
  padding-top: var(--header-height);
  width: 100vw;
  z-index: -1;
}

.main-container {
  padding-top: calc(var(--header-height));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.main {
  background-color: var(--white);
  flex: 1;
  display: flex;
  padding: 5vh 5vw;
  flex-direction: column;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: 1.5rem;
  border-radius: 2rem;
  box-shadow: var(--long-shadow);
  height: 11rem;
  width: 10rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: var(--fade);
}

figure .image-holder {
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
  overflow: hidden;
}

figure:hover {
  background-color: #00000009;
}

@media screen and (max-width: 400px) {
  .collection {
    justify-content: center;
  }
}