<div class="main-container">
  <section class="bg"></section>
  <section class="wave image-holder cover">
    <img src="/assets/images/wave.svg" alt="">
  </section>
  <section class="main">
    <h2 style="color: var(--dark-pink)">The requested page is not available</h2>
  </section>
</div>