section.main {
  background: linear-gradient(to right bottom, var(--dark-blue), var(--dark-pink) 60%, var(--yellow));
  height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.wave {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 1;
}
