<section class="main">
  <div style="z-index: 3; position: relative">
    <router-outlet></router-outlet>
  </div>
</section>
<section class="wave image-holder">
  <img src="/assets/images/wave2.svg" alt="">
</section>