<div class="container">
  <div class="coupon">
    <h2>3x szorzó</h2>
    <p class="text">Egy választott kupont háromszor kijátszhatsz</p>
    <p class="details">A választásodat nekem mondd el. A színházjegy nem kupon</p>
  </div>
</div>