app-picture {
  display: block;
}

app-picture:nth-child(1) {
  transform: translateX(-7rem) translateY(0.8rem) rotate(-8deg);
}

app-picture:nth-child(2) {
  transform: translateX(7rem) translateY(0.8rem) rotate(8deg);
}