section.bg {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right bottom, var(--dark-blue), var(--dark-pink) 60%, var(--yellow));
  height: 100vh;
  padding-top: var(--header-height);
  width: 100vw;
  z-index: -1;
}
.main-container {
  padding-top: calc(var(--header-height) - 6vw + 1vh);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wave {
  width: 100vw;
  transform: rotate(180deg);
}

section.main {
  background-color: var(--white);
  margin-top: -8vw;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}