<div class="main-container">
  <section class="bg"></section>
  <section class="wave image-holder cover">
    <img src="/assets/images/wave.svg" alt="">
  </section>
  <section class="main">
    <router-outlet></router-outlet>
  </section>
</div>