<div class="container">
  <app-nonogram-game [level]="level" (result)="result($event)"></app-nonogram-game>
</div>
<div class="fireworks" *ngIf="won">
  <div class="cont">
    <h1>Happy Birthday!</h1>
  </div>
  <app-fireworks></app-fireworks>
</div>
<div class="lost" *ngIf="lost">
  <h1>Game Over</h1>
</div>