<figure>
  <div class="image-holder image cover">
    <img [src]="'../../../../../assets/images/' + url" alt="">
  </div>
  <div class="image-holder frame">
    <img src="../../../../../assets/images/frame.png" alt="">
    <button class="my-button"><a [href]="'../../../../../assets/images/' + url" download>Download</a></button>
  </div>
</figure>