figure {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: calc(40vh * 1.665);
  width: 40vh;
  position: absolute;
}

.image {
  height: calc(36vh * 1.665);
  width: 36vh;
  position: absolute;
}

button.my-button {
  position: absolute;
  bottom: 6vh;
}