<div class="container">
  <div class="score">
    <span>{{ score <= 1 ? ('Score ' + minScore + ' points') : ('Score: ' + score)  }}</span>
  </div>
  <app-snake-game (grown)="grown($event)" (lost)="lost()" [speed]="speed" [width]="size"></app-snake-game>
</div>