.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--long-shadow);
  border-radius: 30px;
  background-color: white;
}

.score {
  font-size: 1.3rem;
  margin: 1rem 0;
}