<section class="main">
  <article>
    <h1 class="teo">Teó</h1>
    <h1 class="birthday">birthday</h1>
  </article>
</section>
<section class="wave image-holder">
  <img src="/assets/images/wave2.svg" alt="">
</section>