section.main {
  background: linear-gradient(to right bottom, var(--dark-blue), var(--dark-pink) 60%, var(--yellow));
  height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
  display: flex;
}

.wave {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
}

article {
  height: 70vh;
  display: flex;
  justify-content: center;
  padding: 5vw 10vw;
  flex-direction: column
}

h1 {
  text-transform: uppercase;
  text-shadow: 5px 5px 50px  #0008;
  margin: 1rem 0;
}

h1.teo {
  font-size: 8rem;
  color: var(--white);
  line-height: 7.2rem;
  font-weight: 900;
}

h1.birthday {
  font-size: 5rem;
  color: var(--white);
  font-weight: 300;
}