:host {
  height: var(--header-height);
  display: flex;
  position: absolute;
  width: 100vw;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

:host:after {
  position: absolute;
  bottom: 0;
  content: ' ';
  background: linear-gradient(-90deg,rgba(255,255,255,0) 0,#fff 5%,#fff 90%,rgba(255,255,255,0) 100%);
  width: 80%;
  height: 3px;
  opacity: .08;
}

nav {
  padding: 1rem 3vw;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  opacity: .35;
  cursor: pointer;
  transition: var(--fade);
}

nav:hover {
  opacity: .7;
}