<div class="container">
  <h3>{{ !try ? question : 'Nem ' + input.value }}</h3>
  <input type="text" class="my-input" [placeholder]="placeholder" #input>
  <button class="my-button" (click)="send(input.value)">Küldés</button>
</div>