.container {
  display: flex;
  padding: 2rem;
  box-shadow: var(--long-shadow);
  border-radius: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-input {
  margin-bottom: 1rem;
}