* { outline: 0!important; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  transition: transform ease-in-out .12s;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.collapsed .material-icons{
  transform: rotate(180deg);
}

*, body{
  font-family: 'Roboto', sans-serif;
  font-weight: inherit;
}

:root{
  --header-height: 5rem;
  --dark-blue: #00043d;
  --white: white;
  --pink: #ea4ef0;
  --dark-pink: #89117f;
  --yellow: rgb(223, 150, 14);
  --blue: #4239bd;
  --red: rgb(185, 49, 49);
  --green: rgb(53, 185, 60);
  --shadow: 2px 2px 14px -3px #0004;
  --long-shadow: 4px 4px 35px 0px #0002;
  --fade: all ease-in-out .2s;
}

body{
  background-color: var(--white);
  overflow-x: hidden;
  font-weight: 300;
  margin: 0;
}
.image-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-holder:not(.cover) > img, .image-holder:not(.cover) > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.image-holder.cover > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
a, a:hover{
  color: inherit;
  text-decoration: none;
}

.light app-header:after{
  background-color: linear-gradient(-90deg,rgba(14,30,37,0) 0,#0e1e25 5%,#0e1e25 90%,rgba(14,30,37,0) 100%);
}

.my-button {
  background: linear-gradient(to right bottom, var(--dark-blue), var(--dark-pink) 80%);
  color: var(--white);
  border: 0;
  outline: 0;
  height: 2.5em;
  font-size: 1.15rem;
  padding: .6rem 1.2rem;
  border-radius: 2rem;
  min-width: 10rem;
  box-shadow: var(--shadow);
  transition: var(--fade);
  opacity: 1;
}

.my-input {
  border: 0;
  outline: 0;
  height: 2.5em;
  font-size: 1.15rem;
  padding: .3rem 2rem;
  border-radius: 2rem;
  min-width: 10rem;
  box-shadow: var(--shadow);
  transition: var(--fade);
  opacity: 1;
}

.my-button.disabled {
  cursor: default;
  opacity: .4;
}

.my-button:hover {
  box-shadow: 2px 2px 10px -3px #000b;
}

@media screen and (max-width: 900px){
  html{
      font-size: 13px;
  }
}
@media screen and (max-width: 500px){
  html{
      font-size: 10px;
  }
}