<div class="main-container">
  <section class="bg"></section>
  <section class="wave image-holder cover">
    <img src="/assets/images/wave.svg" alt="">
  </section>
  <section class="main">
    <div class="about">
      <h1>Boldog szülinapot!</h1>
      <h2>Daily challengek</h2>
      <p>Minden nap kapni fogsz egy daily challenget. A challengek sok félék lehetnek, elvileg teljesen egyértelmű lesz a feladatod.
        Minden challenge elvégezhető, szóval, ha kitartó vagy, minden nap megkaphatod az ajándékod.
      </p>
      <p>Egy challenget csak egyszer lehet elvégezni. Ha sikerült, sajnos a többi megfejtést nem tudod felfedezni, ha nagyon érdekel, megkérdezheted tőlem.</p>
      <p>Adott nap, csak az adott napi challenge végezhető el. Hiába mented le a tegnapi URL-jét, vagy jössz rá milyen URL-en lesz majd az új,
        a programom nem engedi az átirányítást olyan challengekre amik nem elérhetőek.
      </p>
      <p>A challengek jellégéből adódóan nem minden challenget lehet telefonról elvégezni. Sőt! A nagy részüket csak gépről lehet.
        Ennek egyik oka az, hogy nem minden működik amit írtam telefonra, de lesz olyan challenge is, amit nem is lehet olyanra írni.
        Ha majd találkozol ilyennel, érteni fogod :).
      </p>
      <h2>Ajándékok</h2>
      <p>A challenge elvégzése után a program ad neked egy ajándékot. Az ajándékok többé kevésbé csak apróságok, remélem azért örülsz majd nekik.</p>
      <p>A megkapott ajándékaidat meg tudod nézni a My Collection menüpont alatt. Ott találhatsz olyan ajándékokat is amiket nem megszereztél, 
        hanem a challenge olyan jó móka, hogy ha szeretnéd, újra csinálhatod. Ez nem minden challenge-re lesz így.
      </p>
      <p>Bizonyos ajándékok titkosak. Ezekhez majd jelszót kell beírnod. A jelszót jegyezd meg.</p>
      <h2>A játék vége</h2>
      <p>Még én sem tudom mikor lesz vége. Challenge-ből bármennyit tudok neked adni, de az ajándékaim egyszercsak elfogynak.</p>
      <p>November 13-ától legalább másfél hétig biztosan tartanak majd a challengek.</p>
      <h2>Debugging</h2>
      <p>A rendszerben van egy elég veszélyes dolog. Elvileg nem szabad előjönnie, akkor mutatkozik, ha egy ajándékot rosszul konfigurálok.</p>
      Ekkor viszont egészen ki tudja nyírni a böngésződet, úgyhogy, ha ilyet tapasztalsz mihamarabb szólj, és gyorsan zárd be a Chrome-ot 
      Task Managerrel. Bocsi :D. Szerintem ez a "bug" nem kikerülhető, csak az a megoldás, hogy ügyenesen rakom össze az ajándékaidat, de én is 
      hibázhatok :D.
    </div>
  </section>
</div>