app-picture {
  display: block;
}

app-picture:nth-child(1) {
  transform: translateX(-14rem) translateY(1.3rem) rotate(-10deg);
}

app-picture:nth-child(3) {
  transform: translateX(14rem) translateY(1.3rem) rotate(10deg);
}