
.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
	display: flex;
	height: 100vh;
  width: 100vw;
  background-color: #fff5;
  animation: appear 1.5s ease-in;
}

.fireworks h1 {
  position: absolute;
  margin: 0;
}

@keyframes appear {
  from {opacity: 0}
  to {opacity: 1;}
}