<app-test
  question="Melyik programnyelvek tartották több, mint 5 évig a top 1 rangot a Data is beautiful szerint?"
  [answers]="[
    'Fortran, C, Java',
    'Pascal, C++, Java',
    'Pascal, C',
    'Haskell, Java, Python',
    'Haskell, Java',
    'Fortran, C++, JavaScript'
  ]"
  [correct]="[0]"
  (result)="result($event)"
>
</app-test>

<div class="fireworks" *ngIf="won">
  <app-fireworks></app-fireworks>
</div>