body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -44px -122.6666666667px #6f00ff, 83px -375.6666666667px #00ffa6, 76px -49.6666666667px #ff0059, 145px -413.6666666667px #bb00ff, -48px -26.6666666667px #00ffea, 201px -96.6666666667px #ff0037, 248px -364.6666666667px #00ff51, 52px -271.6666666667px #ff00f7, 216px -60.6666666667px #000dff, -27px -67.6666666667px #95ff00, -244px -181.6666666667px #0051ff, -119px -210.6666666667px #88ff00, 248px 79.3333333333px #ae00ff, -123px -69.6666666667px #00ffd0, 25px -353.6666666667px #ff00c4, -69px -348.6666666667px #00ff51, 87px -351.6666666667px #6aff00, 136px -30.6666666667px #4400ff, 64px -278.6666666667px #00ff2f, 158px -316.6666666667px #ffe600, 39px -277.6666666667px #8cff00, 179px -218.6666666667px #d9ff00, -214px -120.6666666667px #ae00ff, 147px -237.6666666667px #005eff, -161px -413.6666666667px #ff0040, -24px -322.6666666667px #d0ff00, 199px 60.3333333333px #00ff48, -70px 6.3333333333px #ff0026, -232px -15.6666666667px #2f00ff, 98px -350.6666666667px #4800ff, -239px -97.6666666667px #09ff00, -188px -23.6666666667px #ffc400, -130px -134.6666666667px #8000ff, -46px 72.3333333333px #cc00ff, 93px -345.6666666667px #9d00ff, 209px -281.6666666667px #e100ff, 227px -107.6666666667px #b300ff, 205px -143.6666666667px #ffbf00, 196px -58.6666666667px #ff0004, -168px -238.6666666667px #0084ff, -11px -241.6666666667px #00ffb7, -189px 62.3333333333px #00eaff, -218px -287.6666666667px #55ff00, -108px -72.6666666667px #00ffd0, 212px -78.6666666667px #ff7b00, -128px -411.6666666667px #fff200, 100px -269.6666666667px #0077ff, -132px -65.6666666667px #00ff73, -104px 72.3333333333px #00ffa6, 38px -214.6666666667px #99ff00, 76px -12.6666666667px #00ff8c;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -44px -122.6666666667px #6f00ff, 83px -375.6666666667px #00ffa6, 76px -49.6666666667px #ff0059, 145px -413.6666666667px #bb00ff, -48px -26.6666666667px #00ffea, 201px -96.6666666667px #ff0037, 248px -364.6666666667px #00ff51, 52px -271.6666666667px #ff00f7, 216px -60.6666666667px #000dff, -27px -67.6666666667px #95ff00, -244px -181.6666666667px #0051ff, -119px -210.6666666667px #88ff00, 248px 79.3333333333px #ae00ff, -123px -69.6666666667px #00ffd0, 25px -353.6666666667px #ff00c4, -69px -348.6666666667px #00ff51, 87px -351.6666666667px #6aff00, 136px -30.6666666667px #4400ff, 64px -278.6666666667px #00ff2f, 158px -316.6666666667px #ffe600, 39px -277.6666666667px #8cff00, 179px -218.6666666667px #d9ff00, -214px -120.6666666667px #ae00ff, 147px -237.6666666667px #005eff, -161px -413.6666666667px #ff0040, -24px -322.6666666667px #d0ff00, 199px 60.3333333333px #00ff48, -70px 6.3333333333px #ff0026, -232px -15.6666666667px #2f00ff, 98px -350.6666666667px #4800ff, -239px -97.6666666667px #09ff00, -188px -23.6666666667px #ffc400, -130px -134.6666666667px #8000ff, -46px 72.3333333333px #cc00ff, 93px -345.6666666667px #9d00ff, 209px -281.6666666667px #e100ff, 227px -107.6666666667px #b300ff, 205px -143.6666666667px #ffbf00, 196px -58.6666666667px #ff0004, -168px -238.6666666667px #0084ff, -11px -241.6666666667px #00ffb7, -189px 62.3333333333px #00eaff, -218px -287.6666666667px #55ff00, -108px -72.6666666667px #00ffd0, 212px -78.6666666667px #ff7b00, -128px -411.6666666667px #fff200, 100px -269.6666666667px #0077ff, -132px -65.6666666667px #00ff73, -104px 72.3333333333px #00ffa6, 38px -214.6666666667px #99ff00, 76px -12.6666666667px #00ff8c;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -44px -122.6666666667px #6f00ff, 83px -375.6666666667px #00ffa6, 76px -49.6666666667px #ff0059, 145px -413.6666666667px #bb00ff, -48px -26.6666666667px #00ffea, 201px -96.6666666667px #ff0037, 248px -364.6666666667px #00ff51, 52px -271.6666666667px #ff00f7, 216px -60.6666666667px #000dff, -27px -67.6666666667px #95ff00, -244px -181.6666666667px #0051ff, -119px -210.6666666667px #88ff00, 248px 79.3333333333px #ae00ff, -123px -69.6666666667px #00ffd0, 25px -353.6666666667px #ff00c4, -69px -348.6666666667px #00ff51, 87px -351.6666666667px #6aff00, 136px -30.6666666667px #4400ff, 64px -278.6666666667px #00ff2f, 158px -316.6666666667px #ffe600, 39px -277.6666666667px #8cff00, 179px -218.6666666667px #d9ff00, -214px -120.6666666667px #ae00ff, 147px -237.6666666667px #005eff, -161px -413.6666666667px #ff0040, -24px -322.6666666667px #d0ff00, 199px 60.3333333333px #00ff48, -70px 6.3333333333px #ff0026, -232px -15.6666666667px #2f00ff, 98px -350.6666666667px #4800ff, -239px -97.6666666667px #09ff00, -188px -23.6666666667px #ffc400, -130px -134.6666666667px #8000ff, -46px 72.3333333333px #cc00ff, 93px -345.6666666667px #9d00ff, 209px -281.6666666667px #e100ff, 227px -107.6666666667px #b300ff, 205px -143.6666666667px #ffbf00, 196px -58.6666666667px #ff0004, -168px -238.6666666667px #0084ff, -11px -241.6666666667px #00ffb7, -189px 62.3333333333px #00eaff, -218px -287.6666666667px #55ff00, -108px -72.6666666667px #00ffd0, 212px -78.6666666667px #ff7b00, -128px -411.6666666667px #fff200, 100px -269.6666666667px #0077ff, -132px -65.6666666667px #00ff73, -104px 72.3333333333px #00ffa6, 38px -214.6666666667px #99ff00, 76px -12.6666666667px #00ff8c;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -44px -122.6666666667px #6f00ff, 83px -375.6666666667px #00ffa6, 76px -49.6666666667px #ff0059, 145px -413.6666666667px #bb00ff, -48px -26.6666666667px #00ffea, 201px -96.6666666667px #ff0037, 248px -364.6666666667px #00ff51, 52px -271.6666666667px #ff00f7, 216px -60.6666666667px #000dff, -27px -67.6666666667px #95ff00, -244px -181.6666666667px #0051ff, -119px -210.6666666667px #88ff00, 248px 79.3333333333px #ae00ff, -123px -69.6666666667px #00ffd0, 25px -353.6666666667px #ff00c4, -69px -348.6666666667px #00ff51, 87px -351.6666666667px #6aff00, 136px -30.6666666667px #4400ff, 64px -278.6666666667px #00ff2f, 158px -316.6666666667px #ffe600, 39px -277.6666666667px #8cff00, 179px -218.6666666667px #d9ff00, -214px -120.6666666667px #ae00ff, 147px -237.6666666667px #005eff, -161px -413.6666666667px #ff0040, -24px -322.6666666667px #d0ff00, 199px 60.3333333333px #00ff48, -70px 6.3333333333px #ff0026, -232px -15.6666666667px #2f00ff, 98px -350.6666666667px #4800ff, -239px -97.6666666667px #09ff00, -188px -23.6666666667px #ffc400, -130px -134.6666666667px #8000ff, -46px 72.3333333333px #cc00ff, 93px -345.6666666667px #9d00ff, 209px -281.6666666667px #e100ff, 227px -107.6666666667px #b300ff, 205px -143.6666666667px #ffbf00, 196px -58.6666666667px #ff0004, -168px -238.6666666667px #0084ff, -11px -241.6666666667px #00ffb7, -189px 62.3333333333px #00eaff, -218px -287.6666666667px #55ff00, -108px -72.6666666667px #00ffd0, 212px -78.6666666667px #ff7b00, -128px -411.6666666667px #fff200, 100px -269.6666666667px #0077ff, -132px -65.6666666667px #00ff73, -104px 72.3333333333px #00ffa6, 38px -214.6666666667px #99ff00, 76px -12.6666666667px #00ff8c;
  }
}
@keyframes bang {
  to {
    box-shadow: -44px -122.6666666667px #6f00ff, 83px -375.6666666667px #00ffa6, 76px -49.6666666667px #ff0059, 145px -413.6666666667px #bb00ff, -48px -26.6666666667px #00ffea, 201px -96.6666666667px #ff0037, 248px -364.6666666667px #00ff51, 52px -271.6666666667px #ff00f7, 216px -60.6666666667px #000dff, -27px -67.6666666667px #95ff00, -244px -181.6666666667px #0051ff, -119px -210.6666666667px #88ff00, 248px 79.3333333333px #ae00ff, -123px -69.6666666667px #00ffd0, 25px -353.6666666667px #ff00c4, -69px -348.6666666667px #00ff51, 87px -351.6666666667px #6aff00, 136px -30.6666666667px #4400ff, 64px -278.6666666667px #00ff2f, 158px -316.6666666667px #ffe600, 39px -277.6666666667px #8cff00, 179px -218.6666666667px #d9ff00, -214px -120.6666666667px #ae00ff, 147px -237.6666666667px #005eff, -161px -413.6666666667px #ff0040, -24px -322.6666666667px #d0ff00, 199px 60.3333333333px #00ff48, -70px 6.3333333333px #ff0026, -232px -15.6666666667px #2f00ff, 98px -350.6666666667px #4800ff, -239px -97.6666666667px #09ff00, -188px -23.6666666667px #ffc400, -130px -134.6666666667px #8000ff, -46px 72.3333333333px #cc00ff, 93px -345.6666666667px #9d00ff, 209px -281.6666666667px #e100ff, 227px -107.6666666667px #b300ff, 205px -143.6666666667px #ffbf00, 196px -58.6666666667px #ff0004, -168px -238.6666666667px #0084ff, -11px -241.6666666667px #00ffb7, -189px 62.3333333333px #00eaff, -218px -287.6666666667px #55ff00, -108px -72.6666666667px #00ffd0, 212px -78.6666666667px #ff7b00, -128px -411.6666666667px #fff200, 100px -269.6666666667px #0077ff, -132px -65.6666666667px #00ff73, -104px 72.3333333333px #00ffa6, 38px -214.6666666667px #99ff00, 76px -12.6666666667px #00ff8c;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
